body {
    font-size:20px;
}
header {
    width:100%;
    height:150px;
    background-color: #FFFFFF;
}
.Logotype {
    height:92px;
}
.Links {
    margin:5px;
    word-spacing:20px;
}
.Photo_buildings {
    width:100%;
    text-align:center;
}
.button {
    color: #FFFFFF;
    background-color: #0404B4;
  border: 6px solid #0404B4;
  border-radius: 25px;
}
.Photo_post {
    width:80%;
}
footer {
    height: 70px;
    color: #0404B4;
    background-color:#FFFF00;
}
.Menu ul,
.Menu ol {
    list-style:none;
}
.Menu > ul {
    display:flex;
}
.Menu > ul li a {
    padding:30px;
    text-decoration:none;
}
.Menu li ul {
    position:absolute;
}
.Menu li > ul li a {
    padding:10px;
    text-transform:none;
}